In [7]:
import pandas as pd

In [8]:
import Levenshtein

In [9]:
df=pd.read_csv('C:\\Users\\iTranscend\\Desktop\\text-similarity\\train.csv')

In [10]:
df.head()

,Unnamed: 0,description_x,description_y,ticker_x,ticker_y,same_security
0,0,first trust dow jones internet,first trust dj internet idx,FDN,FDN,True
1,1,schwab intl large company index etf,schwab strategic tr fundamental intl large co ...,FNDF,FNDF,True
2,2,vanguard small cap index adm,vanguard small-cap index fund inst,VSMAX,VSCIX,False
3,3,duke energy corp new com new isin #us4 sedol #...,duke energy corp new com new isin #us26441c204...,DUK,DUK,True
4,4,visa inc class a,visa inc.,V,V,True

In [11]:
df=df[['description_x','description_y']]

In [12]:
df.head()

,description_x,description_y
0,first trust dow jones internet,first trust dj internet idx
1,schwab intl large company index etf,schwab strategic tr fundamental intl large co ...
2,vanguard small cap index adm,vanguard small-cap index fund inst
3,duke energy corp new com new isin #us4 sedol #...,duke energy corp new com new isin #us26441c204...
4,visa inc class a,visa inc.

In [13]:
# df['similarity'] = df.apply(lambda x : Levenshtein.distance(df['description_x'], df['description_y']), axis=1)
similarity = []
for i in range(df.shape[0]):
    similarity.append(1/(1+Levenshtein.distance(df['description_x'][i], df['description_y'][i])))
df['similarity']= similarity

In [15]:
df['similarity'] = (df['similarity'] - df['similarity'].min())/(df['similarity'].max() - df['similarity'].min())
df.head()

,description_x,description_y,similarity
0,first trust dow jones internet,first trust dj internet idx,0.132653
1,schwab intl large company index etf,schwab strategic tr fundamental intl large co ...,0.026333
2,vanguard small cap index adm,vanguard small-cap index fund inst,0.167347
3,duke energy corp new com new isin #us4 sedol #...,duke energy corp new com new isin #us26441c204...,0.132653
4,visa inc class a,visa inc.,0.190476

In [16]:
df.to_csv('String_similarity.csv')